@{
    ViewData["Title"] = "Dashboard";
    ViewData["FixedNavbar"] = true;
}

<div class="container">
    <h1 class="mt-5">Dobrodošli na Dashboard!</h1>
    <p>Ovo je privatna stranica za prijavljene korisnike.</p>
</div>
