@{
    ViewData["Title"] = "Početna stranica";
}

<div class="text-center mb-5 mt-4">
    <img src="~/images/OptiShapeLogo.png" alt="OptiShape Logo" class="img-fluid" style="max-width: 600px;" />
</div>

<div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <p class="lead text-center mb-4">
                    OptiShape je integrisani sistem dizajniran za podršku personaliziranom fitness pristupu i
                    unaprjedenju zdravlja.
                </p>
                <p>
                    Sistem omogućava unos osnovnih ličnih podataka, poput težine, visine i godina, kako bi se
                    izračunao indeks tjelesne mase (BMI) i formulisale osnovne nutricionističke preporuke.
                </p>
                <p>
                    Kroz apstraktan pristup, OptiShape kreira smjernice za unos kalorija i proteina prilagođene
                    ciljevima korisnika, bilo da se radi o mršavljenju ili povećanju mišićne mase.
                </p>
                <p>
                    Platforma omogućava pristup stručnim savjetima personalnih trenera, pružajući dodatnu podršku
                    korisnicima.
                </p>
                <p>
                    Sistem funkcioniše kao sveobuhvatni vodič u donošenju odluka o prehrani i fizičkoj aktivnosti.
                    Njegova osnovna namjena je da integriše zdravstvene i fitness podatke u jedinstveni interfejs.
                </p>
                <p>
                    Na ovaj način, OptiShape pomaže korisnicima da efikasno prate i ostvaruju svoje zdravstvene i
                    fitness ciljeve.
                </p>
            </div>
        </div>
    </div>
</div>